*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.column {
    width: 20px;
    background-color: gray;
    margin: 10px;
    position: relative;
}

.percentage {
    position: absolute;
    bottom: calc(0% - 25px);
}

#contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#histogramContainer {
    display: none;
    flex-direction: column;
    align-items: center;
}

#histogram {
    display: flex;
    align-items: flex-end;
    height: 300px;
    position: relative;
}

#refreshBtn{
    margin-top: 50px;
    margin-bottom: 10px;
}

#refreshBtn, #switchGamemodeBtn {
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

#textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#textContainer h2 {
    margin: 15px 0 15px 0;
}

#textContainer h3 {
    margin: 10px 0 15px 0;
}
#textContainer p {
    margin: 0;
}

#pictureContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 80vh;
    width: calc(100% - 40px);
    gap: 20px;
}

.pictureWrapper {
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}

.pictureWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transform: scale(1.2);
    transform-origin: center center;
}

/* Hardmode-specific */
.pictureWrapperHard {
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.pictureWrapperHard img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transform: scale(1.2);
    transform-origin: center;
}

#btnContainer {
    margin: 0 10px;
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

#humanBtn, #aiBtn {
    margin: 5px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}