body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.column {
    width: 20px;
    background-color: gray;
    margin: 10px;
    position: relative;
}

.percentage {
    position: absolute;
    bottom: calc(0% - 25px);
}

#contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#contentHeader {
    text-align: center;
    font-family: sans-serif;
}

#histogramContainer {
    display: none;
    flex-direction: column;
    align-items: center;
}

#histogram {
    display: flex;
    align-items: flex-end;
    height: 300px;
    position: relative;
}

#refreshBtn{
    margin-top: 50px;
    margin-bottom: 10px;
}

#refreshBtn, #switchGamemodeBtn {
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}

#pictureContainer {
    display: flex;
    justify-content: center;
}

.pictureWrapper {
    width: 30%;
    overflow: hidden; /* Sørger for at bildene ikke øker i størrelse */
    cursor: pointer;
}

.pictureWrapper:first-child {
    margin-right: 20px; /* Lager et mellomrom mellom bildene */
}

.pictureWrapper img {
    width: 100%;
    height: auto;
    transform: scale(1.3); /* Øk for å zoome inn */
    transform-origin: center;
}

/* Hardmode-spesifikk */
.pictureWrapperHard {
    width: 50%;
    overflow: hidden;
}

.pictureWrapperHard img {
    width: 100%;
    height: auto;
    transform: scale(1.3); /* Øk for å zoome inn */
    transform-origin: center;
}

#btnContainer {
    margin: 0 10px;
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

#humanBtn, #aiBtn {
    margin: 5px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}